
.main-container {
  display: block;
}
.Container {
  width: 90%;
  display: grid;
  margin: 20px auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.alert {
  position: absolute;
  width: 50em;
  right: 0;
  z-index: 3;
  margin-top: -1.32em;
}

.App .title {
  width: 90%;
  display: grid;
  margin: 20px auto;
  grid-gap: 20px;
  font-size: 4em;
  font-weight: 700;
  color: rgb(85, 85, 86);
  display: flex;
  padding-top: 1.5em;
  justify-content: space-between;
  
  @media screen and (max-width: 802px) {
    display: block;
    font-size: 2em
  }

  .search {
    display: flex;
  }

  .button {
    max-height: 40px !important;
    margin-left: 0.5em;
    margin-top: 2em;
    background: none;
    font-weight: 600;
    padding: 0.5em 1em;
    font-size: 16px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
  }

  .button:hover {
    background-color: rgb(53, 53, 83);
    color: white;
    cursor: pointer;
  }

  input {
    margin-top: 2em;
    max-height: 40px !important;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font: 'Roboto', sans-serif;
$h1: 2em;
$h2: 1, 5em;
$h3: 1, 17em;
$h4: 1em;
$h5: 0.83em;
$h6: 0.67em;



.pokeType {
  width: 250px;
  height: 250px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.10%);
  border-radius: 10px;
  align-items: center;
  margin: 0 auto;
  // background-position: right;

  .pokeImage {
    position: absolute;
    float: right;
    max-width: 150px;
    margin-top: 3rem;
    margin-left: 5rem;
    transition: transform .7s ease-in-out;
  }

  a {
    text-decoration: none !important;
    color: black !important;
  }

  .pokeImage:hover {
    transform: rotate(360deg);
  }

  .pokeName {
    font-family: $font;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    margin: 1rem;
  }

  .pokeOwned {
    font-family: $font;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem;
    color: rgba(255, 255, 255, 0.3);
    text-align: right;
  }

  .pokeTypes {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    position: relative;
    top: 8rem;
    height: 4rem;

    .pokeSkill {
      font-family: $font;
      text-transform: capitalize;
      color: white;
      font-weight: bold;
      font-size: 0.8rem;
      padding: 8px;
      padding-left: 15px;
    }
  }
}

.grid2 {
  flexGrow: 1;
  padding: 2em;

  @media screen and (max-width: 802px) {
    padding: 0em;
  }
}

.details {
  height: 100%;

  .headerDetail {
    padding: 5rem;
    //background-image: url('../img/logo.png');
    background-repeat: no-repeat;

    h1 {
      color: white;
      display: inline-block;
    }

    h2 {
      color: white;
      display: inline-block;
      float: right;
      margin-top: 1rem;
    }

    .pokeImage {
      width: 25%;
      position: relative;
      float: right;
      bottom: 5rem;
    }

    .abbilities {
      h3 {
        display: inline-block;
        font-size: 14px;
        color: white;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px;
        border-radius: 50px;
        width: 5rem;
        margin-right: 1rem;
        text-align: center;
      }
    }
  }

  .bottomDetail {
    background-color: white;
    border-radius: 50px 50px 0 0;
  }
}